# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.sublime-workspace

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env
*.env

# mypy
.mypy_cache/

# profiling data
.prof

# pyre type checker
.pyre/

# pytype static analysis
.pytype/

# Cython debug symbols
cython_debug/

# Cache
__pycache__/
.cache/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Project specific files
254p Thermal Images/
254p RGB Images/
dataset/class_0/
dataset/class_1/
dataset/class_2/
dataset_FOR_IAI/c_1/
*.jpg
*.json