# ---------------------------------------------------
# Image Sizes
# ---------------------------------------------------

image:
  ir_size: [720, 1280]          # IR image resolution [height, width]
  rgb_size: [1080, 1920]        # RGB image resolution [height, width]

# ---------------------------------------------------
# Camera Field of View (FOV)
# ---------------------------------------------------

fov:
  min_deg: 2.2                  # Minimum allowed FOV [degrees]
  max_deg: 60.0                 # Maximum allowed FOV [degrees]

# ---------------------------------------------------
# Grid Sampling
# ---------------------------------------------------

grid:
  points_per_frame: 4           # Number of points to sample in the uniform grid - for H calc

# ---------------------------------------------------
# Fire Parameters
# ---------------------------------------------------

fire:
  max_size_m: 3              # Max estimated fire length [meters]
  ratio_in_rgb_image: 0.25     # Required fire size ratio within the RGB image

# ---------------------------------------------------
# Preprocessing
# ---------------------------------------------------

preprocessing:
  apply: false                  # Apply preprocessing to input images (convert to uint8, etc.)

# ---------------------------------------------------
# Postprocessing Parameters
# ---------------------------------------------------

postprocessing:
  threshold: null               # Optional hard threshold on diff map (overrides diff_threshold)
  temp_threshold: null          # Optional temperature-based threshold for refinement

# ---------------------------------------------------
# Clustering (DBSCAN)
# ---------------------------------------------------

dbscan:
  min_samples_factor: 1        # Ratio to determine min_samples of fire pixels in the search radius to be recognized as cluster (min_samples_factor = 1 -> the ratio is 1/pi~1/3)
  eps_distance_factor: 0.25      # Factor to scale DBSCAN radius (eps) - min_samples = eps^2 -> eps = (L_fire_in_pixels/2)*eps_distance_factor
  diff_threshold: 50           # Minimum difference between frames to consider a pixel as active
  min_contrast: 10              # Minimum contrast for selecting cluster centers

# ---------------------------------------------------
# Cluster Scoring
# ---------------------------------------------------

scoring:
  norm_size: 25                 # Fire area threshold [m^2]
  norm_intensity: 200           # Normalized average cluster intensity
  scaling_weights: [0.5, 0.5, 10, 0.4]   # (wI, wA, k, t) scaling parameters for sigmoid calculation

# ---------------------------------------------------
# Phase 2 Parameters
# ---------------------------------------------------

phase2:
  trt_engine: "resnet_fire_classifier_fp16.trt"  # TensorRT engine filename (inside package/models/)
  net_image_size: 254                 # Input size expected by the classification network (in pixels) # TODO: Change
  crop_factors: [1.2247, 1.4142, 2.0] # Factors used to crop around detected fire regions at multiple scales
  

# ---------------------------------------------------
# Detector Client parameters
# ---------------------------------------------------  
  
detector:
  geo_server_base: "http://127.0.0.1:9000"
  endpoint_pixel2geo: "/api/pixel_to_geo"
  endpoint_geo2pixel: "/api/geo_to_pixel"
  # GeoReg server id
  server_id: 1
  # HTTP timeout (seconds)
  timeout_s: 5.0

# ---------------------------------------------------
# Warmup
# ---------------------------------------------------

warmup:
  num_iterations: 10
